Derek Weitzel
=============

I am a research assistant professor at the University of Nebraska-Lincoln.

I program in many languages:
<p>
<img alt="python" src="https://img.shields.io/badge/-Python-4B8BBE?style=flat-square&logo=python&logoColor=white" />
<img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
<img alt="Go" src="https://img.shields.io/badge/-Go-29BEB0?style=flat-square&logo=go&logoColor=white" />
<img alt="Kubernetes" src="https://img.shields.io/badge/-Kubernetes-326CE5?style=flat-square&logo=kubernetes&logoColor=white" />
<img alt="Heroku" src="https://img.shields.io/badge/-Heroku-430098?style=flat-square&logo=heroku&logoColor=white" />
<img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
<img alt="Nodejs" src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white" />
<img alt="html5" src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white" />

</p>


Latest [blog](https://derekweitzel.com) posts:

|Posts|
|-----|
{% for post in posts -%}
| [{{ post.title }}]({{ post.link }}) |
|---------|
{% endfor %}


